
<head>
    <title>Create to Schedule</title>
</head>
<body>
    <div class="container mt-5">
        <h2 class="mb-4">Create to Schedule</h2>
        <form action="/api/meeting/create" method="POST">
            <div class="mb-3">
                <strong>Title</strong>
                <input type="text" class="form-control w-25" name="title" required>
            </div>
            <div class="mb-3">
                <strong>Form</strong>
                <input type="text" class="form-control w-25" name="form" required>
            </div>
            <div class="mb-3">
                <strong>Location</strong>
                <input type="text" class="form-control w-25" name="location" required>
            </div>
            <div class="mb-3">
                <strong>Student</strong>
                <br>
                    {{#each students}}
                        <input type="radio" value="{{this._id}}">{{this.name}}</input>
                    {{/each}}
            </div>
            <div class="mb-3">
                <strong>Tutor</strong>
                <select class="form-select w-25" name="tutors[]" required>
                    {{#each tutors}}
                        <option value="{{this._id}}">{{this.name}}</option>
                    {{/each}}
                </select>
            </div>
                        <div class="mb-3">
                <strong>Begin Time</strong>
                <input type="dateTime-local" name="startTime" required>
            </div>
            <div class="mb-3">
                <strong>End Time</strong>
                <input type="dateTime-local" name="endTime" required>
            </div>
            <div class="mb-3">
                <strong>Note</strong>
                <textarea class="form-control w-35" name="note"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
</body>